@font-face {
    font-family: 'Playwrite IT Moderna';
    src: url('PlaywriteITModerna-Regular.woff2') format('woff2'),
        url('PlaywriteITModerna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite IT Moderna';
    src: url('PlaywriteITModerna-Regular.woff2') format('woff2'),
        url('PlaywriteITModerna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite IT Moderna';
    src: url('PlaywriteITModerna-ExtraLight.woff2') format('woff2'),
        url('PlaywriteITModerna-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite IT Moderna';
    src: url('PlaywriteITModerna-Light.woff2') format('woff2'),
        url('PlaywriteITModerna-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite IT Moderna';
    src: url('PlaywriteITModerna-Thin.woff2') format('woff2'),
        url('PlaywriteITModerna-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

