.buttons {
  display: flex;
  justify-content: flex-end; /* Updated to align buttons to the right */
  gap: 10px;
}

.buttons a {
  font-size: 16px; /* Adjusted font size */
  text-decoration: none;
  color: var(--title-color); /* Changed color to a darker shade */
}

.buttons button {
  font-size: 16px; /* Adjusted font size */
  color: var(--item-color); /* Text color set to white */
  padding: 10px 15px; /* Increased padding for better touch area */
  background-color: var(--danger); /* Red background color */
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Added border radius for rounded corners */
}

.buttons button:hover {
  background-color: var(--danger-hover); /* Darker shade of red on hover */
}

