/* Example styles */
@import "../css/variables.css";
@import "../fonts/stylesheet.css";
@import "../css/header.css";
@import "../css/home-page.css";
@import "../css/buttons.css";
@import "../css/create.css";
@import "../css/showBlog.css";
@import "../css/modal.css";

body {
  font-family: "Playwrite IT Moderna", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 2000px;
  margin: 20px auto;
  padding: 0 20px;
}
