{{ define "content" }}
<h1 class="home-title">Blogs:</h1>
<div class="home">
    <ul class="home-page">
        {{ range . }}
        <li class="blog-item">
            <h2><a class="blog-title" href="/blog/{{.ID}}">{{ .Name }}</a></h2>
            <p class="blog-author"><b>Author:</b> {{ .Author }}</p>
            <p class="blog-tags"><b>Tags:</b> {{ .Tags }}</p>
            <p class="blog-content"><b>Content:</b> {{ .ShortContent }}</p>
            <p><a class="read-more" href="/blog/{{ .ID }}">Read more</a></p>
            <div class="blog-buttons">
                <form id="deleteForm{{.ID}}" style="display: inline">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="button" class="delete-button" onclick="deleteBlog('{{.ID}}')">
                        Delete
                    </button>
                </form>
                <a class="edit-button" href="/blog/{{.ID}}/edit">Edit</a>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
