{{ define "content" }}
<h1>List of Blogs</h1>
<div class="home">
  <ul>
    {{ range . }}
    <li>
      <h2>{{ .Name }}</h2>
      <p>Author: {{ .Author }}</p>
      <p>Content: {{ .ShortContent }}</p>
      <p><a href="/blog/{{ .ID }}">Read more</a></p>
      <form id="deleteForm{{.ID}}" style="display: inline">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="button" onclick="deleteBlog('{{.ID}}')">Delete</button>
      </form>
      <a href="/blog/{{.ID}}/edit">Edit</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

