<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Creator</title>
        <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header class="flex">
        <h1>Blog App</h1>
        <nav>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/blog/new">Create Blog</a></li>
            </ul>
        </nav>
    </header>
    <main>{{ block "content" . }}{{ end }}</main>
    <script>
        function deleteBlog(blogId) {
            fetch("/blog/" + blogId, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Failed to delete blog");
                    }
                    window.location.reload(); // Refresh the page after successful delete
                    window.location.href = "/";
                })
                .catch((error) => {
                    console.error("Error deleting blog:", error);
                });
        }
        function updateBlog(blogId) {
            const name = document.getElementById("name").value;
            const author = document.getElementById("author").value;
            const links = document.getElementById("links").value;
            const content = document.getElementById("content").value;

            const data = {
                name: name,
                author: author,
                links: links,
                content: content,
            };

            fetch("/blog/" + blogId, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Failed to update blog");
                    }
                    return response.json();
                })
                .then((updatedBlog) => {
                    // Redirect to the updated blog page
                    window.location.href = "/blog/" + updatedBlog.ID;
                })
                .catch((error) => {
                    console.error("Error updating blog:", error);
                });
        }
    </script>
</body>

</html>
