<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog create website</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <header class="flex">
      <h1>Blog App</h1>
      <nav>
        <ul>
          <li><a href="/">Blogs</a></li>
          <li><a href="/blog/new">Create Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>{{template "content" .}}</main>
    <script src="/static/javascripts/fetchJavascript.js"></script>
  </body>
</html>
